body {
  background: #f1f1f1;
}

canvas {
  position: absolute;
  left: 25%;
  top: 5%;
  height: 70%;
  width: auto;
}

div {
  opacity: 0;
}

#background {
  background: #afdae5;
  z-index: 1;

}

#pokemon {
  z-index: 2;
}

#obstacles {
  z-index: 3;
}

#pokeballs {
  z-index: 4;
}

#menu {
  z-index: 5;
}

ul {
  font-size: 14px;
  list-style: none;
  position: relative;
  font-family: monospace;
  top: 30%;
}

li {
  width: 100px;
  margin-left: 20px;
  cursor: pointer;
  padding: 10px 20px;
}

li a {
  text-decoration: none;
  color: black;
}

li:hover {
  background: white;
  border-bottom: 5px solid #9ae7ff;
}
